
<img src={{concat "https://picsum.photos/id/" @pid "/600/"}} />

<div id="sizeSelect">
    <p>Select Size</p>
    <input type="radio" checked id="size1" name="size" value="5">
        <label for="size1">Small - 5$</label><br>
    <input type="radio" id="size2" name="size" value="10">
        <label for="size2">Medium - 10$</label><br>  
    <input type="radio" id="size3" name="size" value="15">
        <label for="size3">Large - 15$</label><br>
    <input type="radio" id="size3" name="size" value="20">
        <label for="size4">Extra Large - 20$</label><br>

    <button type="button" {{on "click" (fn this.addToCart @pid)}}>Add To Cart</button>

</div>