
{{page-title "Photos"}}

<div class="p-1">
  {{#each @model as |photo|}}
      <Photo-Item
          @photoId={{photo.id}}
      />
  {{/each}}

  <Page-Buttons
    @currPage={{@model.currPage}}
  />

</div>

{{outlet}}


